@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&display=swap');

html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	/* font-family: 'Open', sans-serif; */
	/* font-family: 'Alegreya Sans', sans-serif; */
	background-color: #eee;
	color: #333;
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* Hyperlinks */
a {
  text-decoration: none; /* no underline */
  color: inherit;
}

/* Header */
.header-container {
	font-family: 'Alegreya Sans SC', sans-serif;
	display: flex;
	justify-content: space-between;
    background: #111;
	color: #eee;
	padding: 20px 20px;
	border-bottom: 2px solid #222;
	align-items: center; /* Vertically center the tabs */
    /* position: fixed; /* Keeps the header fixed at the top */ */
    /* background-size: cover; /* Ensures the image covers the entire header area */ */
	/* background-attachment: fixed; /* This creates a parallax effect */ */
}

/* .header-container { */
    /* display: flex; */
    /* justify-content: space-between; */
    /* background: black; /* Solid black background */ */
    /* color: #eee; */
    /* padding: 30px 100px; /* Reduce padding */ */
    /* border-bottom: 2px solid #222; */
    /* align-items: center; */
    /* position: fixed; /* Keeps the header fixed at the top */ */
    /* width: 100%; */
    /* top: 0; */
    /* left: 0; */
    /* z-index: 1000; */
/* } */

.name-job-container {
	display: flex;
	align-items: center; /* Vertically center the tabs */
	gap: 25px; /* Adds space between name and job title */
}

.name-job-container .myname {
	font-size: 30px;
	/* font-weight: bold; */
	/* text-transform: uppercase; */
	min-width: 330px;
	/* margin-top: -7px; */
	margin-left: 15px;
}

.name-job-container .myjob {
	font-size: 24px;
	color: #ccc;
}

/* Tabs */
.header-container .tabs {
    display: flex;
	align-items: center; /* Vertically center the tabs */
    gap: 20px;
}

.header-container .tabs .tablinks {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 20px;
	color: #eee;
	text-decoration:none;
}

.header-container .tabs .tablinks:hover {
	background-color: #444;
	border-radius: 8px; /* Optional: for rounded corners */
}

.header-container .tabs .tablinks.active {
	background-color: #444;
	color: #eee;
	border-radius: 8px; /* Optional: for rounded corners */
}

.header-container .tabs .tablinks_contact {
	background-color: inherit;
	border-style: solid;
	border-width: 2px;
	border-color: #fff;
	border-radius: 8px; /* Optional: for rounded corners */
	outline: none;
	cursor: pointer;
	padding: 10px 14px;
	transition: 0.3s;
	font-size: 22px;
	color: #fff;
	text-decoration:none;
	margin-right:15px;
}

.header-container .tabs .tablinks_contact:hover {
	background-color: #fff;
	color: #000;
}

.header-container .tabs .tablinks_contact.active {
	background-color: #fff;
	color: #000;
}

/* Section for background image just under header */
/* !NOT USED! */
.image_under_header {
    background: url('header.jpg') no-repeat center center;
    background-size: cover;
    min-height: 400px; /* Adjust height as needed */
    width: 100%;
	padding: 0px 0px 0px 0px;  /* top right bottom left */
}

/* Section with full-width background */
.full-width-background {
    width: 100%; /* Full width of the screen */
    background-color: inherit; /* Example background color */
    padding: 0px 0; /* Vertical padding */
}

/* Section title */
.section-title {
	font-family: 'Alegreya Sans SC', sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	color: #bbb;
	text-align: center;
}

/* Testimonials section*/
.testimonial {
    /* background-color: #eaeaea; */
    border-radius: 8px;
    margin: -20px;
	padding: 20px 20px 50px 20px;   /* top right bottom left */
    max-width: 40%;
    flex: 1 1 45%;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
	text-align: center
}

.testimonial img {
    border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px;
    object-fit: cover;
	text-align: center;
}

.testimonial p {
    margin: 25px 0;
    /* color: #555; */
    /* font-style: italic; */
}

.testimonial p:last-child {
    font-style: italic;
    /* color: #333; */
}

/* Projects tab*/
.project {
    border-radius: 8px;
	padding: 0px 0 20px 0;   /* top right bottom left */
    max-width: 30%;
    flex: 1 1 45%;
	text-align: center
}

/* Container for the image and hover text */
.project-hover-container {
    position: relative;
    display: inline-block;
    width: 100%;
    /* object-fit: cover; */
    /* margin-bottom: 10px; */
	/* text-align: center; */
}

/* Style for the image */
.project-hover-container img {
    display: block;
    width: 100%;
    transition: filter 0.1s ease;
}

/* Overlay: dark gray semi-transparent */
.project-hover-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.8); /* Dark gray, 70% opacity */
    opacity: 0;
    transition: opacity 0.1s ease;
}

/* Style for the hover text (hidden by default) */
.project-hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 24px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 100%;
    padding: 10px;
}

/* Hover effect: gray out the image and show the text */
/* .project:hover img { */
    /* filter: grayscale(100%); */
/* } */
.project-hover-container:hover::before {
    opacity: 1;
}

.project:hover .project-hover-text {
    opacity: 1;
}

.project p {
    margin: 5px 0;
    /* color: #555; */
    font-style: normal;
	font-weight: bold;
	font-size: 9;
}

.project p:last-child {
    font-style: normal;
	font-weight: normal;
	font-size: 7;
    /* color: #333; */
}

/* Contact section title */
.section-title-contact {
	font-family: 'Alegreya Sans SC', sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	color: #444;
	text-align: center;
}

/* Container to limit text width */
.container {
	flex: 1;
	width: 60%;
	min-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

/* Specific testimonials container (to allow for columns) */
.container-testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	width: 60%;
	min-width: 600px;
	margin: 0 auto;
	padding: 0px 0 10px 0;   /* top right bottom left */
}

/* Specific testimonials container (to allow for columns) */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
	width: 60%;
	min-width: 600px;
	margin: 0 auto;
	padding: 10px 0 30px 0;   /* top right bottom left */
}

/* Additional styles for sections */
.section-odd {
    /* background-color: inherit; /* Background color for section 1 */ 
	background-color: #ddd; /* Background color for section 2 */
    /* text-align: center; */
	padding: 0px 0px 20px 0px;  /* top right bottom left */
}
	
.section-even {
    background-color: inherit; /* Background color for section 1
	/* background-color: #ddd; /* Background color for section 2 */
    text-align: center
	padding: 0px 0px 35px 0px;  /* top right bottom left */
}

/* Contact section in home page */
.section-contact {
    background-color: #111; /* Background color */
	padding: 0px 0px 20px 0px; /* top right bottom left */
    text-align: center;
}

/* Contact container in home page */
.container-contact{
	width: 70%;
	padding: 0px 15% 20px 15%;  /* top right bottom left */
	text-align: center;
	background-color: inherit;
    color: #eee;
}

.row {
    display: flex;
    align-items: flex-start;
}

.column {
    flex: 1;
    padding: 10px;
}


.img_about_pic { 
    width: 80%;
    min-width: 500px;
	margin-top: 0;
	height: auto;
	margin-top: 0px;
	border-radius: 16px; /* Optional: for rounded corners */
	border-color: black;
}

.img_home_portrait { 
    width: 100%;
	margin-top: 0;
	height: auto;
	margin-top: 0px;
	border-radius: 0px; /* Optional: for rounded corners */
	border-color: black;
	padding: 0px 0px 0px 0%;  /* top right bottom left */
}

/* .about_left {  */
    /* max-width: 40%;	 */
	/* margin-top: 25px; */
/* } */

/* .about_right { */
    /* max-width: 57%; */
	/* margin-top: 0px; */
	/* margin-left: 3%; */
/* } */


.about_pic {
}

.contact_catch_phrase {
}

.contact_text {
    text-align: left;
}


.home_portrait {
}

.home_portrait_text {
    text-align: left;
}

.home_watch_left {
    max-width: 70%;
	margin-left: -5%;
	text-align: right;
}

.home_watch_right {
    max-width: 70%;
	margin-left: 0;
	text-align: left;
}

/* Footer left column */
.footer_left {   
    max-width: 33%;	
	margin-top: 0px;	
	margin-left: 0%;
	text-align: right;
}

/* Footer center column */
.footer_center {
    max-width: 40%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0%;	
	text-align: center;
}

/* Footer right column */
.footer_right {
    max-width: 33%;
	margin-top: 0px;
	margin-left: 0px;
	/* margin-right: 3%; */
	text-align: right;
	/* padding: 14px 16px; */
}


.tabcontent {
	display: block;
	text-align: center;
}
.tabcontent iframe {
	margin-bottom: 20px;
	width: 100%;
}

.footer {
    background-color: #111; /* #ccc or inherit */
    color: #666; /* Text color */
	font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    padding: 10px 0px 10px 0px;  /* top right bottom left */
	font-size: 20px;
    width: 100%;
}

.footer .tablinks_contact {
    background-color: #333;
    border-style: solid;
    border-width: thin;
    border-color: #000;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.footer .tablinks_contact:hover {
    background-color: #444;
}

.footer .tablinks_contact.active {
    background-color: #444;
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 38px; /* Space between icons */
}

.social-icons img {
    width: 42px; /* Set icon size */
    height: auto;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2); /* Enlarge icon on hover */
}

.contact-form {
	width: 97%;
	max-width: inherit;
	margin: auto;
	padding: 0px 3% 0px 0px;  /* top right bottom left */
}
.contact-form input, .contact-form textarea {
	width: 100%;
	padding: 0px 0px 0px 0px;  /* top right bottom left */
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
	font-family:inherit;
	padding: 8px;
}
.contact-form button {
	background-color: inherit;
	color: #eee;
	border: 2px solid #eee;
	padding: 12px 36px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 6px;
	font-family: inherit;
}
.contact-form button:hover {
	background-color: #eee;
	color: #000;
}

.no-style-link {
    color: inherit; /* Inherits the color from the parent element */
    text-decoration: none; /* Removes the underline */
    font-weight: inherit; /* Inherits font weight from the parent element */
}

/* Adjust global lay-out for narrower windows */
@media screen and (max-width: 1000px) {
	.container {
		width: 90%;
		max-width: 600px;
		min-width: auto;
	}	
	.container-testimonials {
		width: 90%;
		max-width: 600px;
		min-width: auto;
	}
	.testimonial {
		min-width: 100%;  /* Forcing a unique column */
	}
	.about_pic{
		min-width: auto;
		max-width: 400px;
		width: 100%;
		height: auto;
		margin-top: 0px;
		border-radius: 32px; /* Optional: for rounded corners */
	}
	.home_portrait{
		min-width: auto;
		max-width: 400px;
		width: 100%;
		height: auto;
		margin-top: 0px;
		border-radius: 32px; /* Optional: for rounded corners */
	}
}

/* Adjust global lay-out for narrowest windows */
@media screen and (max-width: 600px) {
	.header-container {
		flex-direction: column;
		align-items: flex-start;
	}
	.header-container .tabs {
		flex-direction: column;
		gap: 10px;
		width: 100%;
	}
	.header-container .name-job-container {
		flex-direction: column;
		gap: 10px;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
	.header-container .name-job-container .myname {
		text-align: center;
		flex-wrap: nowrap;
	}
	.header-container .name-job-container .myjob {
		text-align: center;
	}
	.header-container .tabs button {
		font-size: 14px;
		padding: 10px 12px;
		text-align: left;
	}
}

/* Specific adjustment of contact form container to window size */
@media screen and (max-width: 1200px) {	
	/* Contact form + text above*/
	.container-contact{
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}
}
/* Specific adjustment of contact form container to window size */
@media screen and (max-width: 1000px) {	
	/* Contact form + text above*/
	.container-contact{
		width: 99%;
		padding-left: 0;
		padding-right: 0;
	}
}