@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700&display=swap');

html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	/* font-family: 'Open', sans-serif; */
	/* font-family: 'Alegreya Sans', sans-serif; */
	background-color: #eee;
	color: #333;
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* Header */
.header-container {
	font-family: 'Alegreya Sans SC', sans-serif;
	display: flex;
	justify-content: space-between;
    background: #111;
	color: #eee;
	padding: 10px 10px;
	border-bottom: 2px solid #222;
	align-items: center; /* Vertically center the tabs */
    /* position: fixed; /* Keeps the header fixed at the top */ */
    /* background-size: cover; /* Ensures the image covers the entire header area */ */
	/* background-attachment: fixed; /* This creates a parallax effect */ */
}

/* .header-container { */
    /* display: flex; */
    /* justify-content: space-between; */
    /* background: black; /* Solid black background */ */
    /* color: #eee; */
    /* padding: 30px 100px; /* Reduce padding */ */
    /* border-bottom: 2px solid #222; */
    /* align-items: center; */
    /* position: fixed; /* Keeps the header fixed at the top */ */
    /* width: 100%; */
    /* top: 0; */
    /* left: 0; */
    /* z-index: 1000; */
/* } */

.name-job-container {
	display: flex;
	align-items: center; /* Vertically center the tabs */
	gap: 25px; /* Adds space between name and job title */
}

.name-job-container .myname {
	font-size: 24px;
	/* font-weight: bold; */
	/* text-transform: uppercase; */
	min-width: 320px;
	margin-top: -7px;
	margin-left: 5px;
}

.name-job-container .myjob {
	font-size: 24px;
	color: #ccc;
}

/* Tabs */
.header-container .tabs {
    display: flex;
	align-items: center; /* Vertically center the tabs */
    gap: 20px;
}

.header-container .tabs .tablinks {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 20px;
	color: #eee;
	text-decoration:none;
}

.header-container .tabs .tablinks:hover {
	background-color: #444;
}

.header-container .tabs .tablinks.active {
	background-color: #444;
	color: #eee;
}

.header-container .tabs .tablinks_contact {
	background-color: inherit;
	border-style: solid;
	border-width: 3px;
	border-color: #ccc;
	border-radius: 8px; /* Optional: for rounded corners */
	outline: none;
	cursor: pointer;
	padding: 10px 14px;
	transition: 0.3s;
	font-size: 20px;
	color: #fff;
	text-decoration:none;
}

.header-container .tabs .tablinks_contact:hover {
	background-color: #fff;
	color: #000;
}

.header-container .tabs .tablinks_contact.active {
	background-color: #fff;
	color: #000;
}

/* Section for background image just under header */
/* !NOT USED! */
.image_under_header {
    background: url('header.jpg') no-repeat center center;
    background-size: cover;
    min-height: 400px; /* Adjust height as needed */
    width: 100%;
	padding: 0px 0px 0px 0px;  /* top right bottom left */
}

/* Section with full-width background */
.full-width-background {
    width: 100%; /* Full width of the screen */
    background-color: inherit; /* Example background color */
    padding: 0px 0; /* Vertical padding */
}

/* Section title */
.section-title {
	font-family: 'Alegreya Sans SC', sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	color: #bbb;
	text-align: center;
}

/* Contact section title */
.section-title-contact {
	font-family: 'Alegreya Sans SC', sans-serif;
	text-transform: uppercase;
	font-size: 32px;
	color: #ccc;
	text-align: center;
}

/* Container to limit text width */
.container {
	flex: 1;
	width: 45%;
	min-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

/* Additional styles for sections */
.section-odd {
    background-color: inherit; /* Background color for section 1 */ 
	/* background-color: #ddd; /* Background color for section 2 */ */
    /* text-align: center; */
	padding: 0px 0px 20px 0px;  /* top right bottom left */
}

.section-even {
    /* background-color: inherit; /* Background color for section 1 */
	background-color: #ddd; /* Background color for section 2 */ 
    text-align: center;
	padding: 0px 0px 35px 0px;  /* top right bottom left */
}

/* Contact section in home page */
.section-contact {
    background-color: #111; /* Background color */
    text-align: center;
	padding: 0px 0px 30px 0px;
}

/* Contact container in home page */
.container-contact{
	width: 80%;
	background-color: inherit;
    color: #eee;
	padding: 5px 0px 20px 10%;  /* top right bottom left */
}

.row {
    display: flex;
    align-items: flex-start;
}

.column {
    flex: 1;
    padding: 10px;
}


.img_about_pic { 
    width: 80%;
    min-width: 500px;
	margin-top: 0;
	height: auto;
	margin-top: 0px;
	border-radius: 16px; /* Optional: for rounded corners */
	border-color: black;
}

.img_home_portrait { 
    width: 100%;
    min-width: 500px;
	margin-top: 0;
	height: auto;
	margin-top: 0px;
	border-radius: 0px; /* Optional: for rounded corners */
	border-color: black;
}

/* .about_left {  */
    /* max-width: 40%;	 */
	/* margin-top: 25px; */
/* } */

/* .about_right { */
    /* max-width: 57%; */
	/* margin-top: 0px; */
	/* margin-left: 3%; */
/* } */


.about_pic {
}

.about_catch_phrase {
}

.about_text {
    text-align: left;
}


.home_portrait {
}

.home_portrait_text {
    text-align: left;
}

.home_watch_left {
    max-width: 70%;
	margin-left: -5%;
	text-align: right;
}

.home_watch_right {
    max-width: 70%;
	margin-left: 0;
	text-align: left;
}

/* Footer left column */
.footer_left {   
    max-width: 33%;	
	margin-top: 0px;	
	margin-left: 0%;
	text-align: right;
}

/* Footer center column */
.footer_center {
    max-width: 40%;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0%;	
	text-align: center;
}

/* Footer right column */
.footer_right {
    max-width: 33%;
	margin-top: 0px;
	margin-left: 0px;
	/* margin-right: 3%; */
	text-align: right;
	/* padding: 14px 16px; */
}


.tabcontent {
	display: block;
	text-align: center;
}
.tabcontent iframe {
	margin-bottom: 20px;
	width: 100%;
}

.footer {
    background-color: #222; /* #ccc or inherit */
    color: #666; /* Text color */
	font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    padding: 30px 0px 20px 0px;  /* top right bottom left */
	font-size: 20px;
    width: 100%;
}

.footer .tablinks_contact {
    background-color: #333;
    border-style: solid;
    border-width: thin;
    border-color: #000;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.footer .tablinks_contact:hover {
    background-color: #444;
}

.footer .tablinks_contact.active {
    background-color: #444;
    color: #fff;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 35px; /* Space between icons */
}

.social-icons img {
    width: 30px; /* Set icon size */
    height: auto;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2); /* Enlarge icon on hover */
}

.contact-form {
	max-width: inherit;
	margin: auto;
}
.contact-form input, .contact-form textarea {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	font-family:inherit;
}
.contact-form button {
	background-color: inherit;
	color: #eee;
	border: 3px solid #eee;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
	font-family:inherit;
}
.contact-form button:hover {
	background-color: #eee;
	color: #000;
}

.no-style-link {
    color: inherit; /* Inherits the color from the parent element */
    text-decoration: none; /* Removes the underline */
    font-weight: inherit; /* Inherits font weight from the parent element */
}

@media screen and (max-width: 1000px) {
	/* .container { */
		/* width: 80%; */
		/* max-width: 600px; */
		/* min-width: auto; */
	/* } */
	/* .contact-form input, .contact-form textarea { */
		/* font-size: 14px; */
		/* padding: 8px; */
	/* } */
	/* .contact-form button { */
		/* font-size: 14px; */
		/* padding: 8px 16px; */
	/* } */
	.about_pic{
		min-width: auto;
		max-width: 400px;
		width: 100%;
		height: auto;
		margin-top: 0px;
		border-radius: 32px; /* Optional: for rounded corners */
	}
}

/* Tab elements */
@media screen and (max-width: 600px) {
	.header-container {
		flex-direction: column;
		align-items: flex-start;
	}
	.header-container .tabs {
		flex-direction: column;
		gap: 10px;
		width: 100%;
	}
	.header-container .name-job-container {
		flex-direction: column;
		gap: 10px;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
	.header-container .name-job-container .myname {
		text-align: center;
		flex-wrap: nowrap;
	}
	.header-container .name-job-container .myjob {
		text-align: center;
	}
	.header-container .tabs button {
		font-size: 14px;
		padding: 10px 12px;
		text-align: left;
	}
}
